<ion-header class="ion-no-border fondo" translucent mode="ios" style="padding-top: 45px;">

  <ion-toolbar>
    <ion-title text-capitalize>BIENVENIDO</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="fondo">

  <div class="card contenido">
  <div class="card-header">
    <h1 class="title">RELEVAMIENTO VISUAL</h1>
  </div>
  <div class="card-content">
    <div class="business-icon">
      <img src="../../../assets/icon/icon.png" width="309" height="400" alt="Icono">
    </div>
    <button class="button" (click)="presentAlertPrompt()">Iniciar sesión</button>
  </div>
</div>

</ion-content>

<ion-footer style="padding-bottom: 35px;">
  <ion-toolbar >
    <ion-segment (ionChange)="iniciarSesion($event)" mode="ios" color="dark" class="accesos" [value]="rol">
      <ion-segment-button value="Admin">
        <ion-label class="text-medium">Admin</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Tester">
        <ion-label class="text-medium">Tester</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Usuario">
        <ion-label class="text-medium">Usuario</ion-label>
      </ion-segment-button>
    </ion-segment>
  
  </ion-toolbar>
</ion-footer>
