

<ion-header class="ion-no-border fondo" translucent mode="ios" style="padding-top: 45px;">

  <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button text="Volver" style="font-weight: 1px;" defaultHref="/menu"></ion-back-button>
      </ion-buttons>
      <ion-title class="text-big">Cosas lindas</ion-title>
      <ion-buttons slot="end">
        <ion-button size="large" (click)="navegar('/graficoslindas')">
          <ion-icon slot="icon-only" name="bar-chart-outline" size="large"></ion-icon>
        </ion-button>
        <ion-button size="large" (click)="navegar('/listadolindas')">
          <ion-icon slot="icon-only" name="images-outline" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <ion-grid fixed >

    <ion-row>
      
      <app-tarjetas [imagenes]="imagenes"></app-tarjetas>

    </ion-row>
  
  </ion-grid>

</ion-content>
<ion-footer style="padding-bottom: 35px;">
  <ion-toolbar class="contenido">
        <ion-tab-button  class="contenido" (click)="this.subirFoto()" fill="clear" color="primary" expand="full">
          <ion-icon name="camera-sharp"></ion-icon>
          <ion-label>Sacar foto</ion-label>
        </ion-tab-button>

  </ion-toolbar>
</ion-footer>