:root {
  --ion-color-dark: #1e1e1e; /* o el color oscuro que prefieras */
  --ion-color-dark-rgb: 30, 30, 30;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1a1a1a;
  --ion-color-dark-tint: #2a2a2a;
}
